

<h1>Statuses</h1>

<table class="table table-striped">
<thead>
	<tr><th>Status ID</th><th>Name</th><th>Number of Project</th><th></th></tr>
</thead>

<tbody>

	<% @statuses.each do |status| %>
		<tr>
			<td><%= status.id %></td>
			<td><%= link_to(status.name, status_path(status)) %></td>
			<td><%= status.project_count %></td>
			<td><%= link_to("edit", edit_status_path(status), class: "btn btn-mini") %> 
				<%= link_to("destroy", status_path(status), method: "delete", data: { confirm: "Are you sure?" }, class: "btn btn-mini btn-danger") %>
			</td>
		<tr>
	<% end %>

</tbody>

</table>

<%= link_to("add a status", new_status_path, class: "btn btn-primary") %>