<h1>Projects for <%= @unit.name %></h1>

<table>
<thead>
	<tr><th>Name</th><th>Description</th><th></th></tr>
</thead>

<tbody>
	<% @projects.each do |project| %>
		<tr>
			<td><%= link_to(project.name, unit_project_path(@unit,project)) %></td>
			<td><%= project.description %></td>
			<td><%= link_to("edit", edit_unit_project_path(@unit,project)) %> | 
				<%= link_to("destroy", unit_project_path(@unit,project), method: "delete", data: { confirm: "Are you sure?" }) %>
			</td>
		<tr>
	<% end %>
</tbody>

</table>

<%= link_to("add a project", new_unit_project_path) %>